<div>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-center align-items-center ">
      <div class="ms-2">
        <div class="fw-bold">Perfil</div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-center align-items-center">
        <div class="ms-2">
            <div class="fw-bold">
                Notas
                <span class="badge bg-secondary rounded-pill">3</span>
            </div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-center align-items-center">
        <div class="ms-2 d-flex">
            <div class="fw-bold ">
                Turmas
                <span class="badge bg-secondary rounded-pill">3</span>
            </div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-center align-items-center">
        <div class="ms-2">
            <div class="fw-bold">Calendário</div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-center align-items-center">
        <div class="ms-2">
            <div class="fw-bold">Certificados</div>
      </div>
    </li>
    
  </ul>
</div>