<div>
    <ul class="list-group lista-card-opts">
      <li class="list-group-item d-flex justify-content-center align-items-center ">
        <div class="ms-2">
          <a href="#" class="fw-bold nav-link text-dark">
            Perfil
          </a>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-center align-items-center">
        <div class="ms-2">
          <a href="{% url 'pagina_notas' %}" class="fw-bold nav-link text-dark">
            Notas
          </a>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-center align-items-center">
        <div class="ms-2 d-flex">
          <a href="{% url 'pagina_turmas' %}" class="fw-bold nav-link text-dark">
            Turmas
            <span class="badge bg-secondary rounded-pill">
              {{usuario.usuario.get_qtd_turmas_atuais}}
            </span>
          </a>
        </div>
      </li>
    </ul>
  </div>