<div class="list-group my-1">
    <h5 class="mt-2">
      <b>Turmas Atuais</b>
    
    </h5>
    {% for turma in usuario.usuario.turmas_atuais %}
    <a href="{% url 'pagina_turma' turma.id %}" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{turma.nome}}</h5>
        <small>{{turma.horario|default_if_none:"-"}}</small>
      </div>
      <p class="mb-1">Esta turma está cadastrada com o Prof. {{turma.professor|default_if_none:"-"}}</p>
      <p>Curso: {{turma.curso|default_if_none:"-"}}.</p>
      <small>Disciplinas Equivalentes:
        {% for disciplina in turma.disciplinas_equivalente.all %}
        <span class="badge bg-info text-dark">{{disciplina.nome}}</span>
        {% endfor %}
      </small>
    </a>
    {% endfor %}
</div>