{% load avatar_tags %}
<div class="container-geral">
    <div class="card card-interno my-1">
        <b>Frequência</b>
    </div>
    <div>
      {% for noticia in noticias %}
      <div class="card-interno my-1">
        <article>
          <h5>{{noticia.titulo}}</h5>
          <p>{{noticia.texto}}</p>
          <small>Data da última atualização: {{noticia.data_atualizacao}}</small>
          <br>
          <small>Data de Criação: {{noticia.data_atualizacao}}</small>
          <p>{{noticia.usuario_criacao.get_full_name}}</p>
          {% avatar noticia.usuario_criacao 100 class="img-circle img-perfil" id="user_avatar" %}
        </article>
      </div>
      {% endfor %}
    </div>
</div>