<div class="container-geral">
    
    <a href="{% url 'pagina_turma' turma.id %}" class="card card-interno my-1">
        <b>Notícias</b>
    </a>
    <a href="{% url 'pagina_turma_frequencia' turma.id %}" class="card card-interno my-1">
        <b>Frequências</b>
    </a>
    <a href="{% url 'pagina_turma_notas' turma.id %}" class="card card-interno my-1">
        <b>Notas</b>
    </a>
    <a href="" class="card card-interno my-1">
        <b>Estatísticas</b>
    </a>
    <a href="{% url 'pagina_turma_tarefas' turma.id %}" class="card card-interno my-1">
        <b>Tarefas</b>
    </a>
</div>