{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenuToggle" aria-controls="navMenuToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenuToggle">
        <a class="navbar-brand" href="#"><img src="{% static 'front_assets/imgs/top_logo_CA.png' %}" alt="Logo - CA" title="Continue Aprendendo"></a>
        {% include 'aluno_opts.html' %}
        <div>
            <a class="nav-link" href="{% url 'encerrar_sessao' %}">
            Sair
            </a>
        </div>
      </div>
    </div>
  </nav>